<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Team Profile Generator</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
    <body>
        <nav class="navbar navbar-dark bg-danger mb-8">
            <h1 class="navbar-brand m-4 w-100 text-center">Team Profile</h1>
        </nav>
        <div class="container">
            <div class="row"><div class="col-sm">
            <div class="card bg-primary mx-auto my-3" style="width: 18rem">
            <h5 class="fas fa-mug-hot card-header text-center"><b>Jared</b><br /><br />Manager</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>1</li>
                <li class="list-group-item"><b>Email Address: </b>jared@fakemail.com</li>
                <li class="list-group-item"><b>Office Number </b>1</li>
            </ul>
            </div>
        </div><div class="col-sm">
            <div class="card bg-primary mx-auto my-3" style="width: 18rem">
            <h5 class="fas fa-glasses card-header text-center"><b>Alec</b><br /><br />Engineer</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>2</li>
                <li class="list-group-item"><b>Email Address: </b>alec@fakemail.com</li>
                <li class="list-group-item"><b>GitHub: </b>ibealec</li>
            </ul>
            </div>
        </div><div class="col-sm">
            <div class="card bg-primary mx-auto my-3" style="width: 18rem">
            <h5 class=" card-header text-center"><b>Grace</b><br /><br />Engineer</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>3</li>
                <li class="list-group-item"><b>Email Address: </b>grace@fakemail.com</li>
                <li class="list-group-item"><b>GitHub: </b>gchoi2u</li>
            </ul>
            </div>
        </div><div class="col-sm">
            <div class="card bg-primary mx-auto my-3" style="width: 18rem">
            <h5 class="fas fa-glasses card-header text-center"><b>Tammer</b><br /><br/>Engineer</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>4</li>
                <li class="list-group-item"><b>Email Address: </b>tammer@fakemail.com</li>
                <li class="list-group-item"><b>GitHub: </b>tammerg</li>
            </ul>
            </div>
        </div><div class="col-sm">
            <div class="card bg-primary mx-auto my-3" style="width: 18rem">
            <h5 class="fas fa-user-graduate card-header text-center"><b>John</b><br /><br />Intern</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>ID: </b>5</li>
                <li class="list-group-item"><b>Email Address: </b>john@fakemail.com</li>
                <li class="list-group-item"><b>School: </b>Z University</li>
            </ul>
            </div>
        </div> </div>
    </div>
    
</body>
</html>